extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug


block main
    if(role.permissions.includes("products_create"))
        +alert-error(5000)

        h1(class="mb-4 pagination justify-content-center") Thêm mới sản phẩm

        form(
            action=`/admin/products/create`
            id="form-create-product"
            method="POST"
            enctype="multipart/form-data"
        )
            div(class="form-group")
                label(for="title") <b>Tiêu đề</b>
                input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    required
                )
            div(class="form-group")
                label(for="product_category_id") Danh mục
                select(
                    class="form-control"
                    id="product_category_id"
                    name="product_category_id"
                )
                    option(value="") -- Chọn danh mục --
                    if(records)
                        +select-tree(records)
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="featured1"
                    name="featured"
                    value="1"
                )
                label(for="featured1" class="form-check-label") Nổi bật
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="featured0"
                    name="featured"
                    value="0"
                    checked
                )
                label(for="featured0" class="form-check-label") Không
            div(class="form-group")
                label(for="desc") <b>Mô tả</b>
                textarea(
                    class="form-control"
                    id="desc"
                    name="description"
                    rows="5"
                    textarea-mce  
                )
            div(class="form-group")
                label(for="price") <b>Giá</b>
                input(
                    type="number"
                    class="form-control"
                    id="price"
                    name="price"
                    value="0"
                    min="0"
                )
            div(class="form-group")
                label(for="discount") <b> % Giảm giá</b>
                input(
                    type="number"
                    class="form-control"
                    id="discount"
                    name="discountPercentage"
                    value="0"
                    min="0"
                )
            div(class="form-group")
                label(for="stock") <b>Số lượng</b>
                input(
                    type="number"
                    class="form-control"
                    id="stock"
                    name="stock"
                    value="0"
                    min="0"
                )
            div(class="form-group" upload-image)
                label(for="thumbnail") <b>Ảnh</b>
                input(
                    type="file"
                    class="form-control-file"
                    id="thumbnail"
                    name="thumbnail"
                    accept="image/*"
                    upload-image-input
                )
                img(
                    src="" 
                    class="image-preview"
                    upload-image-preview
                )
            div(class="form-group")
                label(for="position") <b>Vị trí</b>
                input(
                    type="number"
                    class="form-control"
                    id="position"
                    name="position"
                    placeholder="Tự động tăng"
                    min="1"
                )
            div(class="form-group form-check form-check-inline")
                input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked
                )
                label(for="statusActive" class="form-check-label") <b>Hoạt động</b>
            div(class="form-group form-check form-check-inline")
                input(
                type="radio"
                class="form-check-input"
                id="statusInActive"
                name="status"
                value="inactive"
                )
                label(for="statusInActive" class="form-check-label") <b>Dừng hoạt động</b>
            div(class="form-group")
                button(
                type="submit"
                class="btn btn-primary"
                ) Tạo mới

        script(src="/admin/js/product.js")