extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    h1(class="mb-4 pagination justify-content-center") Trang mô tả sản phẩm
    div(class="product-container")
        if (product.thumbnail)
            div(class="product-image")
                img(src=product.thumbnail)

        div(class="product-info")
            if(product.title)
                h2(class="product-title") Tên sản phẩm: #{product.title}

            if (product.price)
                div(class="product-price") Giá: <b>#{product.price}$</b>

            if (product.discountPercentage)
                div(class="product-discount") Giảm giá: <b>#{product.discountPercentage}%</b>

            if (product.status)
                div(class="product-status")
                    span Trạng thái: 
                    if (product.status === "active")
                        span(class="badge badge-success")  Hoạt động
                    else
                        span(class="badge badge-danger")  Dừng hoạt động

            if (product.position)
                div(class="product-position") Vị trí: <b>#{product.position}</b>

<<<<<<< HEAD
            if (product.description)
                div(class="product-description") Mô tả: #{product.description}
=======
    if (product.position)
        div(class="mb-4") Vị trí: <b>#{product.position}</b>


    if (product.description)
        div(class="mb-4") !{product.description}
>>>>>>> 41b6c60bd257376edc26e6d7d7cce149c85e628d
