extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-error(5000)
    +alert-success(5000)

    h1(class="mb-4 pagination justify-content-center") Chỉnh sửa sản phẩm

    form(
        action=`/admin/products/edit/${product.id}?_method=PATCH`
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="title") <b>Tiêu đề</b>
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                required
                value=product.title
            )
        div(class="form-group")
            label(for="desc") <b>Mô tả</b>
            textarea(
                class="form-control"
                id="desc"
                name="description"
                rows="5"
                textarea-mce  
            ) #{product.description}
        div(class="form-group")
            label(for="price") <b>Giá</b>
            input(
                type="number"
                class="form-control"
                id="price"
                name="price"
                min="0"
                value=product.price
            )
        div(class="form-group") <b> % Giảm giá</b>
            input(
                type="number"
                class="form-control"
                id="discount"
                name="discountPercentage"
                min="0"
                value=product.discountPercentage
            )
        div(class="form-group")
            label(for="stock") <b>Số lượng</b>
            input(
                type="number"
                class="form-control"
                id="stock"
                name="stock"
                min="0"
                value=product.stock
            )
        div(class="form-group" upload-image)
            label(for="thumbnail") <b>Ảnh</b>
            input(
                type="file"
                class="form-control-file"
                id="thumbnail"
                name="thumbnail"
                accept="image/*"
                upload-image-input
            )
            img(
                src=product.thumbnail 
                class="image-preview"
                upload-image-preview
            )
        div(class="form-group")
            label(for="position") <b>Vị trí</b>
            input(
                type="number"
                class="form-control"
                id="position"
                name="position"
                placeholder="Tự động tăng"
                min="1"
                value=product.position
            )
        div(class="form-group form-check form-check-inline")
            input(
            type="radio"
            class="form-check-input"
            id="statusActive"
            name="status"
            value="active"
            checked=(product.status == "active" ? true : false)
            )
            label(for="statusActive" class="form-check-label") <b>Hoạt động</b>
        div(class="form-group form-check form-check-inline")
            input(
            type="radio"
            class="form-check-input"
            id="statusInActive"
            name="status"
            value="inactive"
            checked=(product.status == "inactive" ? true : false)
            )
            label(for="statusInActive" class="form-check-label") <b>Dừng hoạt động</b>
        div(class="form-group")
            button(
            type="submit"
            class="btn btn-primary"
            ) Cập nhật