extends ../../layouts/default.pug

block main
  h1.mb-4 #{pageTitle}

  .card.mb-3
    .card-header Bộ lọc và Tìm kiếm
    .card-body
      .row
        .col-6
          each item in filterStatus
            button(
              class=`btn btn-sm ml-1 btn-outline-success ${item.class}`
              button-status=item.status
            ) #{item.name}

        .col-6
          form(id="form-search" formSearch)
            .input-group
              input(
                type="text"
                placeholder="Nhập từ khóa"
                name="keyword"
                class="form-control"
                value=keyword
              )
              .input-group-append
                button(
                  class="btn btn-success"
                  type="submit"
                ) Tìm

    table.table.table-hover.table-sm
      thead
        tr
          th STT
          th Hình ảnh
          th Tiêu đề
          th Giá
          th Trạng thái
          th Hành động

      tbody
        each item, index in products
          tr 
            td #{index + 1}
            td
              img.product-img(
                src=item.thumbnail
                alt=item.title
                width="100px"
                height="auto"
              )
            td #{item.title}
            td.text-center #{item.price}
            td
              if(item.status == "active")
                a.badge.badge-success(href="#") Hoạt động 
              else
                a.badge.badge-danger(href="#") Ngừng Hoạt động 
            td.text-center
              button.btn.btn-warning.btn-sm Edit
              button.btn.btn-danger.btn-sm.ml-1 Delete
