extends ../../layouts/default.pug

block main
    .container.my-3
        .row
            .col-12
                h2 Tạo phòng
        .row
            .col-12
                form(
                    action=`/rooms-chat/create`
                    method="POST"
                )
                    div(class="form-group")
                        label(for="title") Tiêu đề
                        input(
                            type="text"
                            class="form-control"
                            id="title"
                            name="title"
                            required
                        )
                    div(class="form-group")
                        label Thêm thành viên
                        each friend in friendsList
                            div(class="form-check") 
                                input(
                                    class="form-check-input"
                                    type="checkbox"
                                    value=friend.user_id
                                    id=friend.user_id
                                    name="usersId"
                                )
                                label(
                                    class="form-check-label"
                                    for=friend.user_id
                                ) #{friend.infoFriend.fullName}

                    div(class="form-group")
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Tạo