mixin sort(options)
    div(sort)
        select(
            class="form-control"
            name="sort"
            sort-select
        )
            each item in options
                option(value=item.value) #{item.label}

        button(
            class="btn btn-danger mt-2"
            sort-clear
        ) Clear