extends ../../layouts/default.pug

block main
    h1 #{titlePage}

    .row.mt-4
        .col-12
            .card.mb-4
                .card-header Thông tin tài khoản
                .card-body
                    if(user.avatar)
                        img(
                            src=user.avatar
                            style="height: 100px;margin-bottom: 15px;"
                        )
                    if(user.fullName)
                        p Họ tên: <b>#{user.fullName}</b>
                    if(user.email)
                        p Email: <b>#{user.email}</b>
                    if(user.phone)
                        p Số điện thoại: <b>#{user.phone}</b>
                    if(role.title)
                        p Phân quyền: <b>#{role.title}</b>

    .row
        .col-6
            .card.mb-4
                .card-header Danh mục sản phẩm
                .card-body
                    p Số lượng: <b>5</b>
                    p Hoạt động: <b>3</b>
                    p Dừng hoạt động: <b>2</b>

        .col-6
            .card.mb-4
                .card-header Sản phẩm
                .card-body
                    p Số lượng: <b>#{statistic.product.total}</b>
                    p Hoạt động: <b>#{statistic.product.active}</b>
                    p Dừng hoạt động: <b>#{statistic.product.inactive}</b>

        .col-6
            .card.mb-4
                .card-header Tài khoản admin
                .card-body
                    p Số lượng: <b>5</b>
                    p Hoạt động: <b>3</b>
                    p Dừng hoạt động: <b>2</b>

        .col-6
            .card.mb-4
                .card-header Tài khoản client
                .card-body
                    p Số lượng: <b>5</b>
                    p Hoạt động: <b>3</b>
                    p Dừng hoạt động: <b>2</b>