extends ../../layouts/default.pug

block main
  .container.my-3

    include ../../partials/list-btn-users.pug

    .row
      .col-12
        h2 Danh sách bạn bè
    
    .row
      each user in users
        .col-6
          div(class="box-user")
            div(class="inner-avatar")
              img(
                src="https://robohash.org/hicveldicta.png"
                alt=user.fullName
              )
            div(class="inner-info")
              div(class="inner-name") #{user.fullName}
              div(class="inner-buttons")
                button(
                  class="btn btn-sm btn-primary mr-1"
                  btn-add-friend=user.id
                ) Nhắn tin
            div(
              class="inner-status"
              status=user.statusOnline
            ) <i class="fa-solid fa-circle"></i>


block script
  script( src="/js/users.js")